AccessAuthClientWS/xml-resources/web-service-references/AccessAuthWS/wsdl/localhost_8080/AccessAuthWS/AccessAuthWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="AccessAuthWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AccessAuthWS/AccessAuthWS?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="getListObject">
<part name="parameters" element="tns:getListObject"/>
</message>
<message name="getListObjectResponse">
<part name="parameters" element="tns:getListObjectResponse"/>
</message>
<message name="removeObject">
<part name="parameters" element="tns:removeObject"/>
</message>
<message name="removeObjectResponse">
<part name="parameters" element="tns:removeObjectResponse"/>
</message>
<message name="getObject">
<part name="parameters" element="tns:getObject"/>
</message>
<message name="getObjectResponse">
<part name="parameters" element="tns:getObjectResponse"/>
</message>
<message name="writeObject">
<part name="parameters" element="tns:writeObject"/>
</message>
<message name="writeObjectResponse">
<part name="parameters" element="tns:writeObjectResponse"/>
</message>
<portType name="AccessAuthWS">
<operation name="login">
<input wsam:Action="http://services/AccessAuthWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://services/AccessAuthWS/loginResponse" message="tns:loginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/AccessAuthWS/login/Fault/Exception"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://services/AccessAuthWS/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://services/AccessAuthWS/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/AccessAuthWS/createUser/Fault/Exception"/>
</operation>
<operation name="getListObject">
<input wsam:Action="http://services/AccessAuthWS/getListObjectRequest" message="tns:getListObject"/>
<output wsam:Action="http://services/AccessAuthWS/getListObjectResponse" message="tns:getListObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/AccessAuthWS/getListObject/Fault/Exception"/>
</operation>
<operation name="removeObject">
<input wsam:Action="http://services/AccessAuthWS/removeObjectRequest" message="tns:removeObject"/>
<output wsam:Action="http://services/AccessAuthWS/removeObjectResponse" message="tns:removeObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/AccessAuthWS/removeObject/Fault/Exception"/>
</operation>
<operation name="getObject">
<input wsam:Action="http://services/AccessAuthWS/getObjectRequest" message="tns:getObject"/>
<output wsam:Action="http://services/AccessAuthWS/getObjectResponse" message="tns:getObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/AccessAuthWS/getObject/Fault/Exception"/>
</operation>
<operation name="writeObject">
<input wsam:Action="http://services/AccessAuthWS/writeObjectRequest" message="tns:writeObject"/>
<output wsam:Action="http://services/AccessAuthWS/writeObjectResponse" message="tns:writeObjectResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/AccessAuthWS/writeObject/Fault/Exception"/>
</operation>
</portType>
<binding name="AccessAuthWSPortBinding" type="tns:AccessAuthWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getListObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removeObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="writeObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="AccessAuthWS">
<port name="AccessAuthWSPort" binding="tns:AccessAuthWSPortBinding">
<soap:address location="http://localhost:8080/AccessAuthWS/AccessAuthWS"/>
</port>
</service>
</definitions>