AccessAuthClientWS/src/META-INF/wsdl/localhost_8080/AccessAuthWS/AccessAuthWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="getListObject" type="tns:getListObject"/>

<xs:element name="getListObjectResponse" type="tns:getListObjectResponse"/>

<xs:element name="getObject" type="tns:getObject"/>

<xs:element name="getObjectResponse" type="tns:getObjectResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="removeObject" type="tns:removeObject"/>

<xs:element name="removeObjectResponse" type="tns:removeObjectResponse"/>

<xs:element name="writeObject" type="tns:writeObject"/>

<xs:element name="writeObjectResponse" type="tns:writeObjectResponse"/>

<xs:complexType name="abstractShape" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="circle">
<xs:complexContent>
<xs:extension base="tns:abstractShape">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="square">
<xs:complexContent>
<xs:extension base="tns:abstractShape">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="writeObject">
<xs:sequence>
<xs:element name="session" type="xs:string" minOccurs="0"/>
<xs:element name="shape" type="tns:abstractShape" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="writeObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListObject">
<xs:sequence>
<xs:element name="session" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeObject">
<xs:sequence>
<xs:element name="session" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObject">
<xs:sequence>
<xs:element name="session" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:abstractShape" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>